# Importing libraries

In [1]:
# This is a quick check of whether the notebook is currently running on Google Colaboratory
# or on Kaggle, as that makes some difference for the code below.
# We'll do this in every notebook of the course.
try:
    import google.colab
    colab=True
except:
    colab=False

import os
kaggle = os.environ.get('KAGGLE_KERNEL_RUN_TYPE', '')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Loading data

In [3]:
training_data_file_path = "data/training_data.csv"
training_data = pd.read_csv(training_data_file_path)
training_data.head(4)

,id,vdate,rcount,gender,dialysisrenalendstage,asthma,irondef,pneum,substancedependence,psychologicaldisordermajor,...,sodium,glucose,bloodureanitro,creatinine,bmi,pulse,respiration,secondarydiagnosisnonicd9,facid,lengthofstay
0,76513,2012-07-05,4,M,False,False,False,False,False,True,...,137.150067,148.420532,23.0,0.955051,28.450268,63,6.7,1,E,7
1,60406,2012-02-26,1,M,False,False,False,False,False,False,...,140.643655,166.718526,9.0,1.385747,29.233048,81,6.5,0,B,3
2,27322,2012-11-19,1,F,False,False,False,False,False,False,...,138.459305,106.468142,12.0,0.816984,34.295535,75,6.5,1,B,5
3,53699,2012-01-30,0,F,False,False,False,False,False,False,...,138.667613,144.311236,12.0,1.082725,31.207914,75,6.5,1,B,2

In [4]:
columns_with_nan = training_data.columns[training_data.isna().any()]
print(columns_with_nan)

Index(['gender', 'hemo', 'bmi'], dtype='object')

In [5]:
training_data.shape

(70000, 27)

In [6]:
X = training_data.select_dtypes(include=['int64', 'float64'])[training_data.select_dtypes(include=['int64', 'float64']).columns[0:-1]]
boolean_columns = training_data.select_dtypes(include=['bool'])

In [7]:
int_columns = boolean_columns.astype(int)

In [8]:
gender_colums =  training_data['gender'].replace({'M': 1, 'F': 0})
gender_colums = gender_colums.fillna(1)
gender_colums.head(2)

array([1.        , 0.        , 0.42435424])

In [9]:
print(gender_colums.isnull().sum())

0

In [10]:
facid_colums = training_data['facid'].replace({'A': 0, 'B': 1, 'C': 2, 'D': 3,'E': 4})

In [11]:
hemo_column = training_data['hemo'].replace({False: 0, True: 1})
hemo_column = hemo_column.fillna(1)

array([0.        , 1.        , 0.07921004])

In [12]:
print(hemo_column.isnull().sum())

0

In [13]:
X = pd.concat([X, int_columns], axis=1)
X = pd.concat([X, gender_colums], axis=1)
X = pd.concat([X, facid_colums], axis=1)
X = pd.concat([X, hemo_column], axis=1)
X = X.fillna(X.mean())
#X = X.drop('id', axis=1)
X.shape

(70000, 25)

In [14]:
columns_with_nan = X.columns[X.isna().any()]
print(columns_with_nan)

Index([], dtype='object')

In [15]:
test_data_last_path = "data/test_data.csv"
test_data = pd.read_csv(test_data_last_path)
#test_data = test_data.drop('id', axis=1)
test_data_last_columns = test_data.columns;
test_data_last_columns_array = list(test_data_last_columns)
X = X[test_data_last_columns_array]

In [16]:
X.head(1)

,id,rcount,gender,dialysisrenalendstage,asthma,irondef,pneum,substancedependence,psychologicaldisordermajor,depress,...,neutrophils,sodium,glucose,bloodureanitro,creatinine,bmi,pulse,respiration,secondarydiagnosisnonicd9,facid
0,76513,4,1.0,0,0,0,0,0,1,0,...,7.0,137.150067,148.420532,23.0,0.955051,28.450268,63,6.7,1,4

In [17]:
y = training_data['lengthofstay']

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
X.head(3)

,id,rcount,gender,dialysisrenalendstage,asthma,irondef,pneum,substancedependence,psychologicaldisordermajor,depress,...,neutrophils,sodium,glucose,bloodureanitro,creatinine,bmi,pulse,respiration,secondarydiagnosisnonicd9,facid
0,76513,4,1.0,0,0,0,0,0,1,0,...,7.0,137.150067,148.420532,23.0,0.955051,28.450268,63,6.7,1,4
1,60406,1,1.0,0,0,0,0,0,0,0,...,7.1,140.643655,166.718526,9.0,1.385747,29.233048,81,6.5,0,1
2,27322,1,0.0,0,0,0,0,0,0,0,...,12.6,138.459305,106.468142,12.0,0.816984,34.295535,75,6.5,1,1

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [21]:
print(f'Training data: {X_train.shape}\nTest data: {X_test.shape}')

Training data: (52500, 25)
Test data: (17500, 25)

In [22]:
from sklearn.ensemble import RandomForestClassifier

In [23]:
rf = RandomForestClassifier(random_state= 42, n_estimators=100)

In [24]:
rf.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [25]:
y_pred = rf.predict(X_test)

In [26]:
from sklearn.metrics import accuracy_score

In [27]:
accuracy_score(y_test, y_pred)

0.6317142857142857

In [28]:
txt = '''importances = rf.feature_importances_
cols = X.columns
cols = list(cols)

# Create a list of tuples (importance, column name)
importance_list = list(zip(importances, cols))

# Sort the list by importance (in descending order)
importance_list.sort()

# Print the sorted list
for importance, col in importance_list:
    print(f'{col: <27}: {importance:.4f}')'''

In [29]:
X.head(3)

,id,rcount,gender,dialysisrenalendstage,asthma,irondef,pneum,substancedependence,psychologicaldisordermajor,depress,...,neutrophils,sodium,glucose,bloodureanitro,creatinine,bmi,pulse,respiration,secondarydiagnosisnonicd9,facid
0,76513,4,1.0,0,0,0,0,0,1,0,...,7.0,137.150067,148.420532,23.0,0.955051,28.450268,63,6.7,1,4
1,60406,1,1.0,0,0,0,0,0,0,0,...,7.1,140.643655,166.718526,9.0,1.385747,29.233048,81,6.5,0,1
2,27322,1,0.0,0,0,0,0,0,0,0,...,12.6,138.459305,106.468142,12.0,0.816984,34.295535,75,6.5,1,1

In [30]:
importances = rf.feature_importances_
cols = X.columns

# Create a list of tuples (importance, column name)
importance_list = list(zip(importances, cols))

# Sort the list by importance (in descending order)
importance_list.sort(reverse=True)

# Print the sorted list
for importance, col in importance_list:
    print(f'{col: <27}: {importance:.4f}')

rcount                     : 0.2070
bmi                        : 0.0777
glucose                    : 0.0774
creatinine                 : 0.0772
sodium                     : 0.0768
pulse                      : 0.0699
hematocrit                 : 0.0668
neutrophils                : 0.0580
id                         : 0.0526
facid                      : 0.0461
respiration                : 0.0427
bloodureanitro             : 0.0394
secondarydiagnosisnonicd9  : 0.0270
psychologicaldisordermajor : 0.0183
hemo                       : 0.0135
gender                     : 0.0100
irondef                    : 0.0070
substancedependence        : 0.0064
dialysisrenalendstage      : 0.0053
depress                    : 0.0050
asthma                     : 0.0043
pneum                      : 0.0040
malnutrition               : 0.0037
psychother                 : 0.0033
fibrosisandother           : 0.0007

In [31]:
X_train.head(1)

,id,rcount,gender,dialysisrenalendstage,asthma,irondef,pneum,substancedependence,psychologicaldisordermajor,depress,...,neutrophils,sodium,glucose,bloodureanitro,creatinine,bmi,pulse,respiration,secondarydiagnosisnonicd9,facid
58774,73745,1,0.0,0,0,0,0,0,0,0,...,10.85,132.9162,158.236482,12.0,1.071901,29.798116,74,6.5,1,0

In [32]:
def predict_lengthofstay(gender, bmi, rcount, glucose, creatinine):
    
    input_data = pd.DataFrame({
        'id': [X['id'].mean()],
        #'rcount': [X['rcount'].mean()],
        'rcount': [rcont],
        'gender': [gender], 
        'dialysisrenalendstage': [X['dialysisrenalendstage'].mean()],
        'asthma': [X['asthma'].mean()],
        'irondef': [X['irondef'].mean()],
        'pneum': [X['pneum'].mean()],
        'substancedependence': [X['substancedependence'].mean()],
        'psychologicaldisordermajor': [X['psychologicaldisordermajor'].mean()],
        'depress': [X['depress'].mean()],
        'psychother': [X['psychother'].mean()],
        'fibrosisandother': [X['fibrosisandother'].mean()],
        'malnutrition': [X['malnutrition'].mean()],
        'hemo': [X['hemo'].mean()],
        'hematocrit': [X['hematocrit'].mean()],
        'neutrophils': [X['neutrophils'].mean()],
        'sodium': [X['sodium'].mean()],
        #'glucose': [X['glucose'].mean()],
        'glucose': [glucose],
        'bloodureanitro': [X['bloodureanitro'].mean()],
        #'creatinine': [X['creatinine'].mean()],
        'creatinine': [creatinine],
        'bmi': [bmi],  # Replace with the actual bmi value
        'pulse': [X['pulse'].mean()],
        'respiration': [X['respiration'].mean()],
        'secondarydiagnosisnonicd9': [X['secondarydiagnosisnonicd9'].mean()],
        'facid': [X['facid'].mean()]
    })
    
    prediction = rf.predict(input_data)


    
    # Return the result
    return prediction[0]

In [33]:
gender = 1
bmi =  34
rcont = 5
glucose = 268
creatinine = 2
    
predict_lengthofstay(gender, bmi, rcont, glucose, creatinine)

7

In [34]:
if (colab or kaggle):
    %pip install gradio

In [35]:
import gradio as gr

In [36]:
# Set the minimum, maximum, and default values for the variables
gender_min, gender_max, gender_default = 0, 1, 1
bmi_min, bmi_max, bmi_default = 15, 39, 34
rcount_min, rcount_max, rcount_default = 0, 5, 3
glucose_min, glucose_max, glucose_default = 0, 268, 200
creatinine_min, creatinine_max, creatinine_default = 0, 3, 1

In [37]:
# Set the minimum, maximum, and default values for the variables
gender_min, gender_max, gender_default = 0, 1, 1
bmi_min, bmi_max, bmi_default = 15, 39, 34
rcount_min, rcount_max, rcount_default = 0, 5, 3
glucose_min, glucose_max, glucose_default = 0, 268, 200
creatinine_min, creatinine_max, creatinine_default = 0, 2, 1

# Create the interface
iface = gr.Interface(
    fn=predict_lengthofstay, 
    inputs=[
        gr.components.Slider(minimum=gender_min, maximum=gender_max, value=gender_default, label="Gender", step=1),
        gr.components.Slider(minimum=bmi_min, maximum=bmi_max, value=bmi_default, label="BMI"),
        gr.components.Slider(minimum=rcount_min, maximum=rcount_max, value=rcount_default, label="Rcount",step=1),
        gr.components.Slider(minimum=glucose_min, maximum=glucose_max, value=glucose_default, label="Glucose Level"),
        gr.components.Slider(minimum=creatinine_min, maximum=creatinine_max, value=creatinine_default, label="Creatinine")
    ], 
    outputs=gr.components.Textbox(label="Prediction"),
    title="Length of Stay Predictor",
    description="Enter the values to predict the length of stay.",
)

# Launch the interface
iface.launch(share=True)

Running on local URL:  http://127.0.0.1:7862
Running on public URL: https://a45c33118831d1bbf7.gradio.live

This share link expires in 72 hours. For free permanent hosting and GPU upgrades, run `gradio deploy` from Terminal to deploy to Spaces (https://huggingface.co/spaces)

In [38]:
test_pred = rf.predict(test_data)

In [39]:
submission_df = pd.DataFrame({
    "id": test_data["id"].astype(int),
    "lengthofstay": test_pred.astype(int)
})

In [40]:
submission_df.shape

(30000, 2)

In [41]:
file_path = 'submission.csv'

# Write the DataFrame to a CSV file
submission_df.to_csv(file_path, index=None) 
pd.read_csv("submission.csv")

          id  lengthofstay
0      75721             2
1      80184             2
2      19864             7
3      76699             3
4      92991             3
...      ...           ...
29995  42648             6
29996  86306             4
29997  45466             5
29998  63724             5
29999  34122             1

[30000 rows x 2 columns]